.image-uploader-container {
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    width: 30vw;
    height: 60vh;
    margin: 0 auto;
    border: 2px solid #ff6f00;
    font-weight: 800;
    background-color: white;
}

.upload-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line */
    margin-bottom: 20px;

}


.input-container input[type="file"] {
    display: none;
}

.preview-image {
    max-width: 250px;
    max-height: 250px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    background-color: rgb(250, 250, 206);
    border: 1px solid orange;
}

.preview-image:hover {
    background-color: white;
}

.upload-button {
    background-color: #ff6f00;
    color: black;
    font-weight: 800;
    font-size: 15px;
    padding: 15px 25px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #ff9442;
}


.upload-message {
    font-size: 14px;
    margin-top: 10px;
    color: #28a745;
}

.convert-button {
    background-color: #ff6f00;
    color: black;
    font-size: 15px;
    padding: 15px 25px;
    font-weight: 800;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.convert-button:hover {
    background-color: #ff9442;
}

.spinner {
    display: block;
    margin: 20px auto; /* Center the spinner */
    width: 50px; /* Adjust width and height as needed */
    height: 50px;
  }
  