.stl-viewer-container {
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    background-color: white;
    width: 30vw;
    height: 60vh;
    margin: 0 auto;
    border: 2px solid #ff6f00; 
    font-weight: 800;
  }
  
  .viewer-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

 